<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Sistema de e-mail ágil</title>
  <%= stylesheet_link_tag "application" %>
 </head>
 <body>
	<div id="header">
		<div id="logo">
		<h1><a href="#">birdmessenger</a></h1>
			</div>
	<!--<div id="search">
		<form method="get" action="">
			<fieldset>
			<input id="search-text" type="text" name="s" value="Search" size="15" />
			<input type="submit" id="search-submit" value="Search" />
			</fieldset>
		</form>
	</div>
	<!-- end #search -->
</div>
<!-- end #header -->
<div id="menu">
	<ul>
		<li class="current_page_item">
		<a href="#">Help</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Home</a></li>
	</ul>
</div>
<!-- end #menu -->
<div id="page">
	<div id="content">
		</div>
	<!-- end #content -->
	<div id="sidebar">
		<p> <%= flash[:notice] %></p>
              <%= yield %>
      	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end #page -->
<div id="footer">
	<p>Copyright (c) 2013 All rights reserved.</p>
</div>
<!-- end #footer -->
</body>



</html>
